.momo8{
    height: 700px;
    width: 95%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 1px 4px 8px grey;
}
.momo81{
height: 680px;
width: 47%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 10px;


}
.momo82{
    height: 680px;
    width: 50%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 10px;
  
}
.bts{
    height: 680px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.bte{
     height: 680px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.btnn{
    height: 250px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 8px ;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
}
.btnnn{
     height: 250px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 8px ;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}
.btnns{
     height: 250px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 8px ;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
}
.btnne{
      height: 250px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 8px ;
    box-shadow: 5px 5px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.momomo{
    height: 900px;
    width: 97%;
    border: 1px solid grey;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 5px 8px grey;
padding: 10px;
gap: 5px;
}
.mpm{
    height: 850px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    padding: 10px;
}
.bbb{
    height: 800px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    padding: 5px;
}
.bbbb{
     height: 800px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    padding: 5px;
}
.brbb{
    height: 600px;
    width: 100%;
    margin-bottom: 200px;
}
.body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
 left: 15em;
 width: 10em;
 height: 10em;
 background-color: yellow;
 border-radius: 50%;
 box-shadow: 0 0 3em yellow;
}
.earth, .moon{
    position: absolute;
    border-style: solid;
   border-color: white transparent transparent transparent;
   border-width: 0.1em 0.1em 0 0;
   border-radius: 50%;
}
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}
.earth{
    left: 5em;
    top: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36s linear infinite;
}
.moon{
    right: 0;
    top: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.5s linear infinite;
}
.earth::before,
.moon::before{
    content: '';
    position: absolute;
border-radius: 50%;
}
.earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: blue;
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
}
.banner{
    height: 150vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 350px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(2000px);
    animation: autos 20s linear infinite;
    z-index: 2;
}
@keyframes autos{
    from{
         transform: perspective(2000px) rotateX(-25.5deg) rotateY(0deg);
    } to{
         transform: perspective(2000px) rotateX(-25.5deg) rotateY(360deg);
    }
}
.banner .slider .item{
        position: absolute;
    inset: 0 0 0 0;
    transform:
    rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))

     translateZ(400px);
   

}
.banner .slider .item  img{
width: 100%;
height: 100%;
object-fit: cover;
}
.banner .contain{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px,100vw);
    height: max-content;
   
    
}
.banner .contain  h1{
    font-size: 15em;
   
    color: #25283b;
    
     position: relative;
     margin-right: 230px;
   
}
.banner .contain  h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-Content);
    z-index: 2;
  
  color: transparent;
  -webkit-text-stroke: 2px white;

}
.banner .contain .modal{
    background-image:url(/images/remove\ all\ elements\ .png) ;
    width: 100%;
    height: 110vh;
    position: absolute;
    bottom: 0;
   
    left: 0;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}