.bbss{
    width: 100%;
    height: auto;
  background-color: black;
  margin-top: 5px;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px 4px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-repeat: no-repeat;
}
.bbsss{
    width: 100%;
    height: 60px;
   background: linear-gradient(-45deg,orange,red,lime,yellow,rgb(224, 115, 133),rgb(26, 165, 211),white);

 
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
    border-radius: 8px;
}
.bbsc{
    width: 99%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.b{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}